@{
    ViewBag.Title = "Consulta";
}
@if (Request.Params.AllKeys.Contains("error")) {
    <div class="alert alert-danger text-center mt-4" role="alert">@Request.Params["error"]</div>
}
<form class="form-inline mt-5 mx-auto d-table" action="/PesquisaWhois/Pesquisar" method="get">
    <div class="input-group">
        <input class="form-control" type="search" placeholder="Domínio" name="dominio" required />
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">GO</button>
        </div>
    </div>
</form>
